body,table  { font-family: "Courier New",Courier,monospace; font-size: 10pt; cursor: default; }

div.sec  { margin-top: 30px; margin-bottom: 10px; padding-top: 2px; border-top: 1px solid #dddddd; font-family: Calibri,Tahoma,sans-serif; font-size: 14pt; font-weight: bold; }

th  { white-space: nowrap; text-align: left; padding: 1px 6px 1px 6px; color: #004ca8; font-weight: normal; }
td  { white-space: nowrap; text-align: left; padding: 1px 6px 1px 6px; }

table.v th                { padding-left: 0px; }
    
table.h                   { border: 1px solid #888888; }
table.h tr:hover          { background-color: #eeeeee; }
table.h th                { border-bottom: 1px solid #bbbbbb; background-color: #dddddd; }
table.h td                { border-left: 1px solid #dddddd; }
table.h td:first-child    { border-left: 0px; }
