body,table  { font-family: "Courier New",Courier,monospace; font-size: 10pt; cursor: default; }

div.sec  { margin-top: 30px; padding-top: 2px; border-top: 1px solid #dddddd; font-family: Calibri,Tahoma,sans-serif; font-size: 14pt; font-weight: bold; }

th  { white-space: nowrap; text-align: left; padding: 1px 6px 1px 6px; color: #004ca8; font-weight: normal; }
td  { white-space: nowrap; text-align: left; padding: 1px 6px 1px 6px; }

table.v th                { padding-left: 0px; }

table.h                   { border: 1px solid #888888; }
table.h tr:hover          { background-color: #eeeeee; }
table.h th                { border-bottom: 1px solid #bbbbbb; background-color: #dddddd; }
table.h td                { border-left: 1px solid #dddddd; }
table.h td:first-child    { border-left: 0px; }

input[type='button']        { border: 1px solid #aaaaaa; background-color: #eeeeee; color: #666666; padding: 2px 6px 3px 6px; margin: 0px; font-weight: bold; -webkit-transition-property: background-color color border; -webkit-transition-duration: 0.15s; -webkit-transition-timing-function: ease; -moz-transition-property: background-color color border; -moz-transition-duration: 0.15s; -moz-transition-timing-function: ease; -o-transition-property: background-color color border; -o-transition-duration: 0.15s; -o-transition-timing-function: ease; }
input[type='button']:hover  { border: 1px solid #000000; background-color: #ffb338; color: #000000; }

input[type='text']  { border: 1px solid #888888; border-right: 0px; background-color: #ffffff; padding: 2px 6px 3px 6px; margin: 0px; font-weight: bold; color: red; width: 30px; }

span.act-accept  { color: #179900; font-weight: bold; }
span.act-reject  { color: #db0000; font-weight: bold; }
